{% extends 'admin/base_site.html' %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ object }}
    </div>
{% endblock %}

{% block content %}

    <h1>{{ object.title }}</h1>

    <dl>
        <dt>Description:</dt>
        <dd>{{ object.description }}</dd>
        <dt>Max tickets:</dt>
        <dd>{{ object.max_tickets }}</dd>
		<dt>Sales stop at</dt>
		<dd>{{object.sales_stop_at}}</dd>
	</dl>

		<table style="width: 100%; margin: 12px;">
				<thead>
						<tr>
            <td>Biljettyp</td>
            <td>Antal</td>
            <td>Pris</td>
            <td>Total</td>
						</tr>
				</thead>
				<tbody>
						{% for item in object.ticket_types.all %}
						<tr>
						<td>{{item.title}}</td>
						<td>{{item.ticket_set.all.count}}</td>
						<td>{{item.price}}</td>
						<td></td>
						</tr>
						{% endfor %}
						<tr>
							<td>{{Total}}</td>
							<td></td>
							<td></td>
							<!-- <td>object.total_amount</td> -->
							<td>{{object.total_price}}</td>
						</tr>
				</tbody>
		</table>
		
{% endblock %}
